/* Base css for flex */
:root{
    --clr-light:#e5ec51;
    --clr-dark:#000000;
    --clr-accent:#15f5f5;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 80%;
    height: 700px;
    margin: 0 auto;
    border: 5px solid var(--clr-dark);
}
.item{
    width: 150px;
    height: 150px;
    background-color: #971ef3;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 5px solid var(--clr-accent);
    border-radius: 10px;
}
/* Base style ends */
.container{
  display: flex;
  flex-direction: column-reverse;
}